<!DOCTYPE html>
<html lang="es">

    <%- include('./partials/head',{
        title : 'Perfil de usuario'
    })  %> 


<% if (locals.user && user.color == 'naranja') { %>
  <body class="register" style="background-color: orange;">
<% } else if(locals.user && user.color  == 'verde'){ %>
   <body class="register" style="background-color: green;">
 <% } else if(locals.user && user.color == 'rojo'){ %>
  <body class="register" style="background-color: red;">
  <% } else {%>
      <body class="register" style="background-color: white;">
      <% }%>
    <%- include('./partials/header')  %> 

    <main class="register__main">
        <div class="register__main__section general__main__section">
          <h1 class="text-center">Bienvenido <%= user.name %></h1>
          <form action=""  method="POST">
            <div class="mx-2 row">
 <label for="staticEmail" class="col-sm-2 col-form-label">HOLA:</label>
            <input class="form-control"  name="name" value="<%= user.name %>"> 
        </div>
        <div class="mx-2 row">
 <label for="staticEmail" class="col-sm-2 col-form-label">TU EMAIL ES:</label>
            <input class="form-control"  name="email" value="<%= user.email %>"> 
        </div>
        <div class="mx-2 row">
 <label for="staticEmail" class="col-sm-2 col-form-label">TU EDAD ES:</label>
            <input class="form-control"  name="edad" value="<%= user.edad %>">
        </div>
        <div class="mx-2 row">
           <label for="staticEmail" class="col-sm-2 col-form-label">ELEGISTE EL COLOR:</label>
          <input class="form-control" name="color" value="<%= user.color %>"> 
        </div>
          <div class="d-flex gap-5 justify-content-center" role="group" aria-label="Basic example">
            <button type="reset" class="btn btn-danger">Cancelar</button>
            <button type="submit" class="btn btn-primary">Confirmar</button>
            </div>
      </form>       
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
</body>

</html>
